@use '../utils/vars' as v;
@use '../utils/mixins' as *;

.bloc-text {
  padding: v.$spacer*1.5;
  color: v.$color-gray;
  line-height: 1.7;
  letter-spacing: 0;
  
  @include respond-to(medium) {
    padding: v.$spacer v.$spacer/1.5;
  }
}
