.shop_link {
  display: inline-block;
  margin: $gutter/3 0;
  padding: $spacer/2.5  $spacer  $spacer/2.5 0;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .75rem;
  line-height: 1;
  background: url(../../../dist/media/icons/icon-arrow.svg) no-repeat center right;
  transition: opacity .25s;

  &:hover,
  &:focus,
  &:active {
    opacity: .5;
  }
}

.link {
  &-light {
    color: $color-white;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}