@use '../utils/vars' as v;
@use '../utils/mixins' as *;

.header {
  position: fixed;
  left: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: v.$spacer v.$spacer*1.5;
  transform: translateX(-50%);
  z-index: 100;

  @include respond-to(small) {
    padding: v.$spacer*.35 v.$spacer/4;
  }
}

.logo {
  width: auto;
  margin-right: v.$gutter;

  @include respond-to(small) {
    display: inline-block;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }
}

