@use '../utils/vars' as v;
@use '../utils/mixins' as *;

$menu-color: v.$color-white;

@keyframes menuLinksFade {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu {
  display: flex;

  &_item {
    position: relative;
    display: block;
    padding: v.$spacer/3;
    color: $menu-color;
    text-decoration: none;
    text-transform: lowercase;
    text-shadow: 1px 1px 1px v.$color-black;

    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: 30%;
      background-color: $menu-color;
      left: 50%;
      opacity: 0;
      transform: translateX(-100%);
      margin-top: .5rem;
      transition: opacity .25s ease-in, transform .25s ease-in;
    }

    &--current:after,
    &:hover:after,
    &:focus:after {
      opacity: 1;
      transform: translateX(-50%);
    }
  }

  @include respond-to(small) {
    padding: v.$spacer/2 0;
    justify-content: flex-end;
    font-weight: 700;

    &_item {
      color: v.$color-black;
      opacity: 0;
      text-shadow: none;

      &:after {display: none;}
    }

  }
}

.burger,
.icon-menu--close {
  display: none;
  background-repeat: no-repeat;
  background-position: center center;

  @include respond-to(small) {
    display: block;
    width: 50px;
    height: 50px;
  }
}
.burger {
  background-image: url(../../../dist/media/icons/icon-hamburger.svg);
}
.icon-menu--close {
  background-image: url(../../../dist/media/icons/icon-close.svg);

  @include respond-to(small) {
    display: block;
  }
}

.main_nav {
  @include respond-to(small) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 v.$spacer/4;   
    background: v.$color-white; 
    transform: translateY(-100%);
    transition: transform .25s ease-in;
    
    &--active {
      background: v.$color-white; 
      transform: translateY(0);
      transition: transform .25s ease;
      
    }
  }
}