.slider {
  position: relative;
  height: 534px;
  margin: auto;
  overflow: hidden;

  @media screen and (max-width: 920px) {
    height: auto;
  }

  &_nav {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 40%;
    background: $color-black;
    transform: translateX(100%);
    
    @media screen and (max-width: 1280px) {
      right: 50%;
    }

    @media screen and (max-width: 920px) {
      bottom: initial;
      top: 534px;
      right: 0;
      transform: translate(0,-100%);
    }

    @media screen and (max-width: 375px) {
      bottom: initial;
      top: 360px;
      right: 0;
      transform: translate(0,-100%);
    }    
  }

  .prev, .next {
    cursor: pointer;
    display: block;
    width: 71px;
    height: 71px;
    padding: 16px;
    transition: 0.6s ease;
    user-select: none;

    @media screen and (max-width: 920px) {
      width: 50px;
      height: 50px;
    }    
  }
  
.next {
  background: url(../../../dist/media/icons/icon-angle-right.svg) no-repeat center center;
}
.prev {
  background: url(../../../dist/media/icons/icon-angle-left.svg) no-repeat center center;
}

.prev:hover,
.next:hover {
  background-color: $color-dark-gray;
}

.slide {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

}

.slide {
  display: flex;

  &_img {
    width: 60%;
    overflow: hidden;

    @media screen and (max-width: 1280px) {
      width: 50%;
    }

    @media screen and (max-width: 1414px) {
      img {
        width:auto;
        height: 100%;
      }
    }
  }
  &_content {
    width: 40%;
    padding-top: $spacer*2;

    @media screen and (max-width: 1280px) {
      width: 50%;
    }

    @media screen and (max-width: 920px) {
      padding: $spacer*1.5 $spacer/1.5;
    }    
  }

  &_title {
    margin-bottom: $gutter*.65;
    font-size: 2.45rem;
    font-weight: 700;
    line-height: 1.15;
    color: $color-black;
    
    @media screen and (max-width: 920px) {
      font-size: 1.75rem;
    }
  }
}

@media screen and (max-width: 920px) {
  .slide {
    flex-direction: column;

    &_img,
    &_content {
      width: 100%;
    }
  
  }
}